---
BasedOnStyle: Google
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
SortIncludes: 'true'
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Auto
TabWidth: '4'
UseTab: Always
...